/*
essential styles:
these make the slideshow work
*/
* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/img/pictures/4200x2800_0xac120004_16308552871674837425.jpeg);
  font-family: Arial, Helvetica, sans-serif;
  filter: saturate(0.5);
}
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
  text-decoration: none;
  display: inline-block;
  align-items: center;
}

a {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.slides {
  position: relative;
  height: 50vh;
  padding: 0px;
  margin: 20px;
  list-style-type: none;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.25s;
}

.active {
  opacity: 1;
  z-index: 0;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
  font-size: 40px;
  padding: 40px;
  background: #333;
  color: #fff;
}

.slide:nth-of-type(1) {
  background-image: url(../assets/img/pictures/5_\(86\).jpg);
  background-position: center;
}

.slide:nth-of-type(2) {
  background-image: url(../assets/img/pictures/Андалусия.-Коста-дель-Соль.jpg);
  background-position: center;
}

.slide:nth-of-type(3) {
  background-image: url(../assets/img/pictures/Коста-Бланка..jpg);
  background-position: center;
}

.slide:nth-of-type(4) {
  background-image: url(../assets/img/pictures/Коста-Дорада.-Таррагона-1024x512.jpg);
  background-position: center;
}

.slide:nth-of-type(5) {
  background-image: url(../assets/img/pictures/Шикарное-побережье-Испании.jpg);
  background-position: center;
}

/*  project customization */

.container {
  min-width: 450px;
  width: 70vw;
  background-image: url(../assets/img/pictures/light-sand-with-small-dunes-on-the-beach-as-a-background-the-perfect-backdrop-for-your-presentation_380694-11278.avif);
  background-position: center;
  background-size: cover;
  margin-inline: auto;
  display: block;
}

.header {
  border-bottom: 4px solid rgb(4, 229, 245);
  gap: 20px;
  margin: 10px;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: space-around;
  list-style: none;
}

.navbar-list {
  text-align: center;
  list-style: none;
  padding-top: 20px;
}

.carousel {
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;
  margin: 20px;
}

.slides {
  align-items: center;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.indicators {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.indicator {
  background-color: rgb(133, 131, 131);
  gap: 20px;
  margin: 15px;
  border-radius: 15px;
  cursor: pointer;
  min-width: 40px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator:hover {
  border-color: aqua;
  background-color: black;
}

.indicator.active {
  background-color: rgb(4, 229, 245);
}

.control {
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  min-width: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.controls {
  margin-bottom: 30px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

.footer {
  border-top: 4px solid rgb(4, 229, 245);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-link {
  width: 45px;
  padding: 5px;
}

.text-footer {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
